# dados brutos (não commitar CSVs grandes)
data/

# credenciais
*.json
.env
dbt/ecommerce/profiles.yml

# python
__pycache__/
*.pyc
.venv/
venv/

# dbt
dbt/ecommerce/target/
dbt/ecommerce/dbt_packages/
dbt/ecommerce/logs/